body { font-family: Arial; }
h2 { text-align:center; color:red; }

.box {
 width:300px;
 margin:auto;
 border:3px solid red;
 padding:20px;
}

label { color:red; font-weight:bold; }
input { width:100%; margin:8px 0; padding:8px; }

input[type=submit] {
 border:2px solid red;
 background:white;
 color:red;
 font-weight:bold;
 cursor:pointer;
}
