body {
    font-family: Arial, sans-serif;
}

/* Page Title */
.page-title {
    text-align: center;
    color: red;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Outer Border */
.outer-box {
    width: 80%;
    margin: auto;
    border: 4px solid red;
    padding: 30px;
}

/* Image Box */
.image-box {
    width: 80%;
    height: 250px;
    margin: auto;
    border: 4px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 22px;
    font-weight: bold;
}

/* Buttons Area */
.button-area {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* Buttons */
.btn {
    border: 3px solid red;
    padding: 15px 40px;
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.btn:hover {
    background-color: #ffe6e6;
}
